################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/api_pns/FileContentIndex
/.vs/api_pns/v17/.suo
/.vs/api_pns/v17/.suo
